.footerlight{
width: 100%;
position: relative;
overflow:hidden;
width: 100%;
}
.footerdark{
    width: 100%;
position: relative;
overflow:hidden;

}

.img-container img{
    height: 20px;
    width: 20px;
}
.css-1ab76cp{
  
}
.css-4adnfp {


}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
   
    width: 100%;
    align-items: center;
    
}